
@font-face {
  font-family: "OrchidFontbold";
  src: url("../fonts/orchid-font-bold.ttf") format('truetype');
}

span.icon-bold {
  font-family: 'OrchidFontbold';
  font-size: 32px;
}
span.heart.icon-bold:after {
  content: '♡';
}
span.minus.icon-bold:after {
  content: '−';
}
span.plus.icon-bold:after {
  content: '+';
}
span.location.icon-bold:after {
  content: '⌖';
}
span.orchid.icon-bold:after {
  content: '';
}
span.star-empty.icon-bold:after {
  content: '☆';
}
span.star-filled.icon-bold:after {
  content: '★';
}
span.star-half-filled.icon-bold:after {
  content: '✩';
}
span.more-actions-horizontal.icon-bold:after {
  content: '…';
}
span.more-actions-vertical.icon-bold:after {
  content: '⋮';
}
span.twitter.icon-bold:after {
  content: 't';
}
span.bookmark.icon-bold:after {
  content: '🔖';
}
span.education.icon-bold:after {
  content: '🎓';
}
span.envelope.icon-bold:after {
  content: '✉';
}
span.hamburger-menu.icon-bold:after {
  content: '≡';
}
span.house.icon-bold:after {
  content: '⌂';
}
span.linkedin.icon-bold:after {
  content: 'l';
}
span.gear.icon-bold:after {
  content: '⚙';
}
span.chevron-up.icon-bold:after {
  content: '⌃';
}
span.chevron-down.icon-bold:after {
  content: '⌄';
}
span.chevron-left.icon-bold:after {
  content: '˂';
}
span.chevron-right.icon-bold:after {
  content: '˃';
}
span.earth.icon-bold:after {
  content: '🌍';
}
span.rss.icon-bold:after {
  content: '';
}
span.danger.icon-bold:after {
  content: '⚠';
}
span.fire.icon-bold:after {
  content: '🔥';
}
span.facebook.icon-bold:after {
  content: '';
}
@font-face {
  font-family: "OrchidFontregular";
  src: url("orchid-font-regular.ttf") format('truetype');
}

span.icon-regular {
  font-family: 'OrchidFontregular';
  font-size: 32px;
}
span.heart.icon-regular:after {
  content: '♡';
}
span.minus.icon-regular:after {
  content: '−';
}
span.plus.icon-regular:after {
  content: '+';
}
span.location.icon-regular:after {
  content: '⌖';
}
span.orchid.icon-regular:after {
  content: '';
}
span.star-empty.icon-regular:after {
  content: '☆';
}
span.star-filled.icon-regular:after {
  content: '★';
}
span.star-half-filled.icon-regular:after {
  content: '✩';
}
span.more-actions-horizontal.icon-regular:after {
  content: '…';
}
span.more-actions-vertical.icon-regular:after {
  content: '⋮';
}
span.twitter.icon-regular:after {
  content: 't';
}
span.bookmark.icon-regular:after {
  content: '🔖';
}
span.education.icon-regular:after {
  content: '🎓';
}
span.envelope.icon-regular:after {
  content: '✉';
}
span.hamburger-menu.icon-regular:after {
  content: '≡';
}
span.house.icon-regular:after {
  content: '⌂';
}
span.linkedin.icon-regular:after {
  content: 'l';
}
span.gear.icon-regular:after {
  content: '⚙';
}
span.chevron-up.icon-regular:after {
  content: '⌃';
}
span.chevron-down.icon-regular:after {
  content: '⌄';
}
span.chevron-left.icon-regular:after {
  content: '˂';
}
span.chevron-right.icon-regular:after {
  content: '˃';
}
span.earth.icon-regular:after {
  content: '🌍';
}
span.rss.icon-regular:after {
  content: '';
}
span.danger.icon-regular:after {
  content: '⚠';
}
span.fire.icon-regular:after {
  content: '🔥';
}
@font-face {
  font-family: "OrchidFontlight";
  src: url("orchid-font-light.ttf") format('truetype');
}

span.icon-light {
  font-family: 'OrchidFontlight';
  font-size: 32px;
}
span.heart.icon-light:after {
  content: '♡';
}
span.minus.icon-light:after {
  content: '−';
}
span.plus.icon-light:after {
  content: '+';
}
span.location.icon-light:after {
  content: '⌖';
}
span.orchid.icon-light:after {
  content: '';
}
span.star-empty.icon-light:after {
  content: '☆';
}
span.star-filled.icon-light:after {
  content: '★';
}
span.star-half-filled.icon-light:after {
  content: '✩';
}
span.more-actions-horizontal.icon-light:after {
  content: '…';
}
span.more-actions-vertical.icon-light:after {
  content: '⋮';
}
span.twitter.icon-light:after {
  content: 't';
}
span.bookmark.icon-light:after {
  content: '🔖';
}
span.education.icon-light:after {
  content: '🎓';
}
span.envelope.icon-light:after {
  content: '✉';
}
span.hamburger-menu.icon-light:after {
  content: '≡';
}
span.house.icon-light:after {
  content: '⌂';
}
span.linkedin.icon-light:after {
  content: 'l';
}
span.gear.icon-light:after {
  content: '⚙';
}
span.chevron-up.icon-light:after {
  content: '⌃';
}
span.chevron-down.icon-light:after {
  content: '⌄';
}
span.chevron-left.icon-light:after {
  content: '˂';
}
span.chevron-right.icon-light:after {
  content: '˃';
}
span.earth.icon-light:after {
  content: '🌍';
}
span.rss.icon-light:after {
  content: '';
}
span.danger.icon-light:after {
  content: '⚠';
}
span.fire.icon-light:after {
  content: '🔥';
}
