/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.archives .date-range-picker {
  background-color: @date-range-picker-bg-color;
  padding: 20px 0;
}

.archives .period-picker.container {
  padding-left: 0;
  padding-right: 0;
}

.archives .previous-period {
  text-align: left;
}

.archives .choice-period {
  text-align: center;
}

.archives .next-period {
  text-align: right;
}

.archives .posts-list {
  padding-left: 15px;
  padding-right: 15px;
}

.archives .all-posts-list {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.archives .all-posts-list .month-posts {
  padding-bottom: 15px;
  
  // Avoid splitting over multiple columns
  overflow: hidden; /* fix for Firefox */
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

// On desktops, the list of articles is shown on two columns
@media (min-width: 992px) {
  .archives .all-posts-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

// Do not show some elements when printing
@media print
{
  .archives .date-range-picker {
    display: none;
  }
}