/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

.banner a:link,
.banner a:visited,
.banner a:hover,
.banner a:active {
  color: $banner-link-color;
}

.banner .modal a:link,
.banner .modal a:visited,
.banner .modal a:hover,
.banner .modal a:active {
  color: $banner-modal-link-color;
}

.banner .modal {
  text-align: left;
}

.banner a.carousel-credit {
  text-decoration: none;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
  outline: none;
}

.banner a.carousel-credit:hover {
  opacity: 1;
}

.banner .carousel-caption h3 {
  text-align: center;
  font-size: 30px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8)
}

.banner .carousel-caption h3 .caption-container {
  display: inline-block;
  text-align: left;
}

// Do not show the banner when printing
@media print
{
  .banner {
    display: none;
  }
}