@use "colors";
@use "fonts";
@use "layout";
@use "paths";

// --- Variables ---

// Base typography
$base-font-size: 62.5%; // To easily map to pixels
$base-text-alignment: left; // For more readability
$body-font-size: 2.1rem; // 21px
$body-line-spacing: 3rem; // 30px => better lisibility + space for bigger Chinese

// --- Base element styling ---

html {
  font-size: $base-font-size;
}

body {
  font-family:
    fonts.$primary-western-font, fonts.$fallback-western-font1,
    fonts.$primary-chinese-font, fonts.$fallback-western-font2;
  text-align: $base-text-alignment;
  font-size: $body-font-size;
  font-weight: 300;
  background-color: transparent;
  color: colors.$body-background-color;
  line-height: $body-line-spacing;
}

#page {
  background-color: colors.$page-background-color;
  padding: 0;
  padding-top: layout.$top-bar-height; // Because the toolbar is anchored to the top
}

p {
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin-bottom: 1.6rem;
  margin-top: 2.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.8rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 3.7rem;
}

h3 {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

h4 {
  color: colors.$h4-text-color;
  font-size: 2.1rem;
  line-height: 3rem;
}

u {
  text-decoration-color: colors.$tint-color;
  -webkit-text-decoration-color: colors.$tint-color;
}

del {
  color: colors.$del-text-color;
}

pre {
  font-family: fonts.$primary-code-font, fonts.$fallback-code-font;
  font-size: 100%; // To compensate bootstrap
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  border: none;
  padding: 3rem;
  background-color: colors.$pre-background-color;
  border-radius: 4px;
}

code {
  color: colors.$code-text-color;
  background-color: colors.$code-background-color;
  font-size: 80%;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote {
  border-left: 4px solid colors.$tint-color;
  margin-left: 2px; // To compensate the border width
  padding-left: 2rem;
  padding-right: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: $body-font-size;
}

.footnote {
  padding-top: 15px;
  color: colors.$footnote-text-color;
}

// Lead paragraph

.lead {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

// Custom colored bullets (one day, this will be easy with the ::marker pseudo-element). The :not(.nav) exception is to play well with Bootstrap nav items

ul:not(.nav) {
  list-style: none;
}

ul:not(.nav) > li::before {
  content: "•";
  color: colors.$tint-color;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul:not(.nav) > li > ul > li::before {
  content: "○";
}

ul:not(.nav) > li > ul > li > ul > li::before {
  content: "▪";
}

// Custom colored list numbers (one day, this will be easy with the ::marker pseudo-element)

ol {
  list-style: none;
  counter-reset: li;
}

ol > li::before {
  content: "." counters(li, ".");
  color: colors.$tint-color;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

ol > li {
  counter-increment: li;
}

// Chinese text

.zh {
  font-size: 125%;
  line-height: 65%; /* This is to avoid bigger Chinese text having an impact on line spacing */
}

// Links

a:link,
a:visited,
a:active {
  color: colors.$tint-color;
  text-decoration: none;
  transition: color 0.25s ease;
  outline: 0;
}

a:hover {
  color: colors.$tint-color-hover;
  text-decoration: underline;
  transition: color 0.25s ease;
}

// Pinyin
py,
pyb {
  font-family:
    fonts.$primary-pinyin-font, fonts.$fallback-pinyin-font1,
    fonts.$fallback-pinyin-font2 !important;
  font-size: 95%;
  color: colors.$pinyin-text-color;
  font-weight: 300;
}

/* Text fields */

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: colors.$tint-color;
}

input.form-control:focus,
input:focus,
textarea:focus {
  border-color: colors.$tint-color;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 4px colors.$tint-color;
}

input,
textarea {
  color: colors.$input-text-color;
  border: 1px solid colors.$input-border-color;
  border-radius: 3px 3px 3px 3px;
}

// Environment to present a new character

char {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url("#{paths.$images-folder-path}/char-matrix/char-matrix.png")
    no-repeat;
  background-size: 64px 64px;
  line-height: 64px;
  font-size: 64px;
  text-align: center;
  margin: 3px;
}

// Tables centered on the page

.table-centered {
  margin: 0 auto !important;
  float: none !important;
}
