/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#category-summary {
  background-color: #C0C0C0;
}

#category-summary .media-object {
  border-radius: 10px;
}

#category-summary .content {
  padding: 15px;
}