/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#category-summary {
  background-color: #BBBBBB;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

#category-summary .media-object {
  border-radius: 10px;
}