/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

#category-summary {
  background-color: @category-summary-bg-color;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

#category-summary .media-object {
  border-radius: 10px;
}