@use "palette";
@use "sass:color";

/*
 * Theme color palette
 */

// Main tint color: it is used for links, buttons and other actionable items
$tint-color: palette.$green;
// Color for the pinyin identified as such
$pinyin-text-color: palette.$gray;
// Color for text marked as deleted
$del-text-color: palette.$gray;
// Color of the code inside paragraphs
$code-text-color: palette.$rose;
// Background color of the code inside paragraphs
$code-background-color: palette.$light-rose;

// Color for the background of the top navigation bar
$top-bar-background-color: palette.$white;
// Base font color for the top navigation bar
$top-bar-text-color: palette.$gray;
// Hover font color for the top navigation bar
$top-bar-text-hover-color: palette.$medium-gray;

/*
 * Base colors
 */

$default-background-color: palette.$white;
$body-background-color: palette.$strong-gray;
$page-background-color: palette.$white;
$page-shadow: palette.$gray;
$pinyin-text-color: palette.$gray;
$input-text-color: palette.$strong-gray;
$input-border-color: palette.$medium-gray;
$h4-text-color: palette.$medium-gray;
$pre-background-color: palette.$extremely-light-gray;

/*
 * Home page
 */

$banner-link-color: palette.$white;
$banner-modal-link-color: $tint-color;
$tagline-bg-color: palette.$light-gray;
$category-summary-bg-color: palette.$light-gray;
$home-middle-background-color: palette.$very-light-gray;

/*
 * Page title
 */

$page-title-bg-color: $tint-color;
$page-title-text-color: palette.$white;
$page-title-link-color: palette.$white;

/*
 * Top bar colors
 */

$top-bar-text-color: palette.$light-gray;
$top-bar-background-color-hover: palette.$very-strong-gray;
$top-bar-background-color: palette.$strong-gray;

/*
 * Back to top
 */

$back-to-top-bg-color: palette.$strong-gray;
$back-to-top-hover-color: palette.$very-strong-gray;

/*
 * Post list
 */
$posts-list-item-border-color: palette.$light-gray;
$post-title-color: palette.$strong-gray;
$post-title-hover-color: palette.$very-strong-gray;
$post-metadata-color: palette.$gray;
$post-metadata-hover-color: palette.$very-strong-gray;

/*
 * Search
 */

$search-info-bg-color: palette.$light-gray;

/*
 * Post
 */

$post-excerpt-bg-color: palette.$light-gray;
$post-pagination-bg-color: palette.$white;
$post-footer-border-color: palette.$light-gray;

/*
 * Footer
 */

$footer-background-color: palette.$strong-gray;
$footer-border-color: palette.$medium-gray;
$footer-powered-by-background-color: palette.$medium-gray;
$footer-powered-by-text-color: palette.$light-gray;
$footer-h3-color: palette.$very-light-gray;
$footer-sub-h3-color: palette.$very-light-gray;

/*
 * Archives
 */

$date-range-picker-bg-color: palette.$light-gray;

/*
 * Theme download page
 */

$download-pitch-bg-color: palette.$light-gray;
$footnote-text-color: palette.$gray;

/*
  * Categories page
  */
$category-summary-bg-color: palette.$light-gray;

/*
  * Tags page
  */

$tag-info-bg-color: palette.$light-gray;

/*
 * Miniplayer
 */

$player-hover-color: $tint-color;

/*
 * Exercice
 */

$exercice-number-bg-color: $tint-color;
$exercice-answer-color: $tint-color;
$exercice-answer-bg-color: palette.$very-light-green;
$exercice-answer-toggle-color: $tint-color;
$exercice-answer-toggle-hover-color: color.adjust($tint-color, $lightness: -5%);

/*
 * Figure
 */

$figure-border-color: palette.$light-gray;
$figure-caption-color: palette.$medium-gray;
