/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

// Define the colors used throughout the theme

@default-background-color: #ccc;

@top-bar-color: #373737;
@top-bar-color-hover: #272727;

// Main tint color: it is used for links, buttons and other actionable items
@tint-color: #228B22;

// Banner
@banner-link-color: #FFFFFF; /* White */
//@banner-page-bg-color: #474747;
@banner-bg-color: #FFFFFF;

// Tagline
@tagline-bg-color: #C0C0C0;

// Post
//@post-title-page-bg-color: @banner-page-bg-color;

@post-header-bg-color: @tint-color;
//@post-header-page-bg-color: @banner-page-bg-color;
@post-header-text-color: #FFFFFF;
@post-header-link-color: #FFFFFF; /* White */

@post-excerpt-bg-color: #C0C0C0;
@post-footer-bg-color: #FFFFFF;
@post-pagination-bg-color: #FFFFFF;

@post-metadata-bg-color: #474747;
@post-metadata-page-bg-color: #FFFFFF;

// Comments
@comments-stripes-color: #eeeeee; /* Light gray */