/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

/*
 * Theme color palette
 */

// Grays
@white:            #ffffff;
@very-light-gray:  #dedede;
@light-gray:       #cccccc;
@gray:             #808080;
@medium-gray:      #505050;
@strong-gray:      #373737;
@very-strong-gray: #272727;
@black:            #000000;

// Greens
@light-green:      #32cd32;
@green:            #228b22;

/*
 * Base colors
 */

@default-background-color: @light-gray;
@page-background-color: @white;
@page-shadow: @gray;

// Main tint color: it is used for links, buttons and other actionable items
@tint-color: @green;
// Color for the pinyin identified as such
@pinyin-text-color: @gray;

/*
 * Page title
 */

@page-title-bg-color: @tint-color;
@page-title-text-color: @white;
@page-title-link-color: @white;

/*
 * Top bar colors
 */

@top-bar-text-color: @light-gray;
@top-bar-background-color-hover: @very-strong-gray;
@top-bar-background-color: @strong-gray;






/*
 * Post
 */

@post-excerpt-bg-color: @light-gray;
@post-footer-bg-color: @light-gray;
@post-pagination-bg-color: @white;

// Footer
@footer-background-color: @strong-gray;