/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.comments #new-comment-expansion {
  display: none; /* Hidden by default, will be expanded with javascript */
  padding-bottom: 10px;
}

.comments textarea {
  height: 66px;
  resize: vertical;
}

.comments input,
.comments textarea {
  padding: 0.3em 0.6em;
  width: 100%;
}

.comments input#c_remember {
  width: 18px;
}

.comments .new-comment-buttons {
  text-align: right;
}

.comments #cancelButton {
  margin-right: 5px;
}

.comments label {
  font-weight: 400;
}

.comments .media-top span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent url("@{images-folder-path}/comments/comments-placeholder-64.png") no-repeat;
  background-size: 32px 32px;
}

.comments .media-top span.me {
  background: transparent url("@{images-folder-path}/comments/comments-me-64.png") no-repeat;
  background-size: 32px 32px;
}

.comments .comment-metadata {
  color: @gray;
  text-align: right;
  font-size: 80%;
}

.comments .comment-metadata .glyphicon {
  margin-right: 0.1ex;
}

// No arrow for external links when looking at the author of a comment
.comments .comment-author a:after {
  background-size: 0 0;
  width: 0; height: 0;
  content: "";
}

.comments .comment-author h4 {
  margin-top: 5px;
}

.comments .comment-list-header {
  margin-bottom: 10px;
}