/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.comments #new-comment-expansion {
  display: none; /* Hidden by default, will be expanded with javascript */
}

.comments .comments-feed {
  margin-top: 15px;
}

.comments .media-list li {
  padding: 10px;
}

.comments .media-list li:nth-child(even) {
  background-color: @comments-stripes-color;
}

.comments textarea {
  height: 66px;
  resize: vertical;
}

.comments input,
.comments textarea {
  padding: 0.3em 0.6em;
  width: 100%;
}

.comments input#c_remember {
  width: 18px;
}

.comments .new-comment-buttons {
  text-align: right;
}

.comments #cancelButton {
  margin-right: 5px;
}

.comments label {
  font-weight: 400;
}