/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

figure {
  // Legend is always centered
  text-align: center;

  // Responsive behavior
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
 
  // For the caption not to be wider than the picture
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

figure .figure-frame {
  color: @medium-gray;
  background-color: transparent;
  border: 1px solid @light-gray;
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
  max-width: 100%;
  height: auto;
  font-size: 95%;
}