@use "paths";

// Font variables
$primary-western-font: "Muli"; // Web font
$primary-chinese-font:
  "KaiTi", "楷体", "STKaiti", "华文楷体", "Kaiti SC", "楷体-简";
$fallback-western-font1: "Arial"; // Standard local font
$fallback-western-font2: sans-serif; // Default sans serif local font
$title-font: "Damion"; // Web font
$primary-pinyin-font: "Ubuntu"; // Web font
$fallback-pinyin-font1: "arial unicode ms";
$fallback-pinyin-font2: sans-serif; // Default sans serif local font
$primary-code-font: "Inconsolata"; // Web font
$fallback-code-font: monospace; // Default monospace local font
