/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

// TODO: rethink using http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/

// Font variables
@primary-western-font: "Lato";
@primary-chinese-font: "Kaiti";
@fallback-western-font1: "Arial";
@fallback-western-font2: sans-serif;
@title-font: "Damion";
@primary-pinyin-font:"Ubuntu"; // Warning: may not be present
@fallback-pinyin-font1: "arial unicode ms";
@fallback-pinyin-font2: sans-serif;

/* Generic font */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/* Chinese font */
@font-face {
  font-family: 'KaiTi';
  src: url('@{fonts-folder-path}/KaiTi.ttf') format('truetype');
}