/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#footer {
  padding: 0;
}

#footer .container {
    background-color: @footer-background-color;
    padding-bottom: 10px;
}

#footer .footer-menu.container {
  padding-left: 0;
  padding-right: 0;
}

#footer #poweredBy {
  text-align: center;
  padding: 10px;
  background-color: #272727;
  color: #CCC;
}

#footer .container h3 {
    color: #999;
}

#footer .container p {
    color: #666;
}

#footer .content-license {
  display: inline-block;
  font-style: italic;
}

#footer .content-license a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#footer .content-license a:hover {
  text-decoration: none;
}

#footer .license-cc {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("@{images-folder-path}/license/cc-32.png") no-repeat;
  background-size: 16px 16px;
}

#footer .license-cc-by {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("@{images-folder-path}/license/by-32.png") no-repeat;
  background-size: 16px 16px;
}

#footer .license-cc-nc {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("@{images-folder-path}/license/nc-32.png") no-repeat;
  background-size: 16px 16px;
}

#footer .license-cc-sa {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("@{images-folder-path}/license/sa-32.png") no-repeat;
  background-size: 16px 16px;
}

// Do not display the footer when printing
@media print
{
  #footer {
    display: none;
  }
}