@use "colors";
@use "paths";

/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

@use "sass:color";

#footer {
  padding: 0;
  border-top: 2px solid colors.$footer-border-color;
}

#footer .container {
    background-color: colors.$footer-background-color;
    padding-bottom: 10px;
}

#footer .footer-menu.container {
  padding-left: 0;
  padding-right: 0;
}

#footer #poweredBy {
  text-align: center;
  padding: 10px;
  background-color: colors.$footer-powered-by-background-color;
  color: colors.$footer-powered-by-text-color;
}

#footer .container h3 {
    color: colors.$footer-h3-color;
}

#footer .container .footer-sub-h3 {
  color: colors.$footer-sub-h3-color;
  font-size: 0.66em;
}

#footer .content-license {
  display: inline-block;
  font-style: italic;
}

#footer .content-license a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#footer .content-license a:hover {
  text-decoration: none;
}

#footer .license-cc {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("#{paths.$images-folder-path}/license/cc-32.png") no-repeat;
  background-size: 16px 16px;
}

#footer .license-cc-by {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("#{paths.$images-folder-path}/license/by-32.png") no-repeat;
  background-size: 16px 16px;
}

#footer .license-cc-nc {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("#{paths.$images-folder-path}/license/nc-32.png") no-repeat;
  background-size: 16px 16px;
}

#footer .license-cc-sa {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("#{paths.$images-folder-path}/license/sa-32.png") no-repeat;
  background-size: 16px 16px;
}

// --- "About" part of the footer ---

#footer-about .media {
  border-bottom: 1px solid colors.$footer-border-color;
}

#footer-about-profile {
  margin-top: 24px;
  margin-right: 5px;
  filter: drop-shadow(1px 1px 5px colors.$footer-border-color);
}

#footer-about-description p {
  color: colors.$footer-sub-h3-color;
}

#footer-about-description a.twitter-link {
  color: colors.$footer-sub-h3-color;
}

#footer .container .footer-sub-h3 a.twitter-link:hover {
  color: color.adjust(colors.$footer-sub-h3-color, $lightness: -15%);
}

#footer-about-links {
  color: colors.$footer-sub-h3-color;
  margin-top: 10px;
  font-size: 125%;
}

#footer-about-links a {
  color: colors.$footer-sub-h3-color;
}

#footer-about-links a:hover {
  color: color.adjust(colors.$footer-sub-h3-color, $lightness: -15%);
  text-decoration: none;
}

// --- Print ---

// Do not display the footer when printing
@media print
{
  #footer {
    display: none;
  }
}