/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#home-content {
  padding: 0;
}

#home-content .welcome img {
  border-radius: 10px;
}

#home-content h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid @light-gray;
}

// Do not show some elements when printing
@media print
{
  #home-content .welcome {
    display: none;
  }
  
  #home-content .tag-cloud {
    display: none;
  }
  
  #home-content .sidebar {
    display: none;
  }
}