@use "colors";

#home-content {
  padding: 0;
}

.home.middle {
  background-color: colors.$home-middle-background-color;
}

#home-content .posts-list .title-row {
  font-size: 0;
}

#home-content .posts-list .category-title {
  float: none;
  display: inline-block;
  font-size: 14px;
}

#home-content .posts-list .all-articles {
  float: none;
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
  font-size: 14px;
  padding-bottom: 12px;
}

#home-content .posts-list .all-articles a:hover {
  text-decoration: none;
}
