/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#home-content {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

#home-content #more-articles-btn {
  margin-top: 20px;
}