/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.post-list .post-list-item {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid @light-gray;
}

.post-list div.comment-count {
  position: absolute;
  margin-bottom: 0;
  right: 0;
  bottom: 0;
  width: 26px;
  height: 23px;
  text-align: center;
  font-weight: bold;
  background: url("../images/comments/comments-sign.png") no-repeat bottom right;
  background-size: 26px 23px;
}

.post-list .comment-count:hover {
  background: url("../images/comments/comments-sign-hover.png") no-repeat bottom right;
  background-size: 26px 23px;
}

.post-list .comment-count a {
  display: inline-block;
  width: 26px;
  height: 23px;
  padding-top: 6px;
  //padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.post-list .comment-count a:hover {
  color: white;
}

.post-list > nav {
  text-align: center;
}