// To style the list of last comments provided as a widget by Dotclear

.widget.lastcomments ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.widget.lastcomments ul li {
  background-image: url("index.php?tf=includes/images/comments/comment-sign.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 20px;
  text-align: left;
}
