/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

// Base typography
@base-font-size: 1.5em;
@base-text-alignment: left;

// Element sizes
@top-bar-height: 50px;