/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

// Base typography
@base-font-size: 160%;
@base-text-alignment: justify;

// Element sizes
@top-bar-height: 50px;