// To style the list of links provided as a widget by Dotclear

.widget.links ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.widget.links ul li {
  background-image: url("index.php?tf=includes/images/links/link-bullet.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  padding-left: 20px;
}
