/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

// To style the list of links provided as a widget by Dotclear

.widget.links ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.widget.links ul li {
  background-image: url("../images/links/link-bullet-32.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0px center;
  padding-left: 20px;
}