@use "paths";

/* External links (i.e. default) */

.middle a[href^="http"]:after {
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  margin-left: 0.2em;
  vertical-align: -0.08em;
  background-color: currentColor;
  -webkit-mask-image: url("#{paths.$images-folder-path}/icons/phosphor/arrow-square-out.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url("#{paths.$images-folder-path}/icons/phosphor/arrow-square-out.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  content: "";
}

/* Internal links */

.middle a[href^="http://voyage-est.com"]:after,
.middle a[href^="https://www.voyage-est.com"]:after,
.middle a[href^="http://localhost"]:after {
  display: none;
}

// Do not show external link that way for print
@media print {
  .middle a[href^="http"]:after,
  a[href^="http"]:after {
    display: none;
  }
}
