/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

.page-title {
  background: $page-title-bg-color url("#{$images-folder-path}/title/Title-background.png") no-repeat left bottom;
  background-size: cover;
  color: $page-title-text-color;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  display: table; // For the case there is only one h1 (see below)
  width: 100%;
  height: 150px;
}

.page-title a {
  color: $page-title-link-color;
}

.page-title h1 {
  text-align: center;
  margin-top: 10px;
}

// Center vertically when only one h1
.page-title h1:only-child {
  display: table-cell;
  vertical-align: middle;
}