// Grays
$white: #ffffff;
$extremely-light-gray: #f5f5f5;
$very-light-gray: #dedede;
$light-gray: #cccccc;
$gray: #808080;
$medium-gray: #505050;
$strong-gray: #373737;
$very-strong-gray: #272727;
$black: #000000;

// Greens
$very-light-green: #c4f9c4;
$light-green: #32cd32;
$green: #228b22;

// Blues
$very-light-blue: #c4c4f9;
$light-blue: #3772ea;
$blue: #134cde;

// Reds
$very-light-red: #f9c4c4;
$light-red: #ea3838;
$red: #f31f1f;
$rose: #c7254e;
$light-rose: #f9f2f4;
