/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.posts-list .posts-list-item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid @light-gray;
}

.posts-list .posts-list-item .media-object {
  border-radius: 10px;
}

.posts-list .posts-list-item .media-body h3 {
  margin-top: 0;
}

.posts-list .posts-list-item-footer {
  color: @gray;
}

.posts-list .thumbnail-row {
  padding-left: 7px;
  padding-right: 8px;
}

.posts-list .posts-thumbnail-item {
  padding-left: 8px;
  padding-right: 7px;
}

.posts-list .posts-thumbnail-item .thumbnail {
  border-radius: 3px;
  padding: 0;
  border: none;
  box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.posts-list .posts-thumbnail-item img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.posts-list .posts-thumbnail-item .caption h3 {
  margin: 0;
  font-size: 130%;
}

.posts-list .posts-thumbnail-item .caption a {
  color: @strong-gray;
}

.posts-list .posts-thumbnail-item .caption a:hover {
  color: @strong-gray;
  text-decoration: none;
}

.posts-list .posts-thumbnail-item .category {
  border-top-left-radius: 3px;
  position: absolute;
  top: 0;
  left: 8px;
  background-color: fadeout(@very-strong-gray, 15%);
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  font-size: 80%;
}

.posts-list .posts-thumbnail-item .category:hover {
  background-color: @very-strong-gray;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.posts-list .posts-thumbnail-item .category a {
  display: inline-block;
  padding: 5px 9px;
  color: @white;
}

.posts-list .posts-thumbnail-item .category a:hover {
  text-decoration: none;
  color: @white;
}

.posts-list .posts-thumbnail-item .link:hover {
  cursor: pointer;
}

.posts-list .posts-thumbnail-item .thumbnail:hover {
  box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.posts-list .posts-thumbnail-item h3 {
  font-size: 18px;
  margin-top: 0;
}

.posts-list .posts-thumbnail-item-footer {
  color: @gray;
  padding: 9px 0;
  border-top: 1px solid @light-gray;
  font-size: 80%;
  margin: 0;
}

.posts-list .posts-thumbnail-item-footer div[class*='col-'] {
  padding-left: 9px;
  padding-right: 9px;
}

.posts-list .post-metadata-left {
  text-align: left;
}

.posts-list .post-metadata-right {
  text-align: right;
}

.posts-list .post-metadata-right a {
  color: @gray;
}

.posts-list .post-metadata-right a:after {
  background-size: 0 0;
  width: 0; height: 0;
  content: "";
}

.posts-list .post-metadata-right a:hover {
  color: @very-strong-gray;
  text-decoration: none;
}

.posts-list .post-metadata-right a .icon-bold {
  font-size: 100%;
  margin-left: 0.8ex;
}

.posts-list .post-metadata {
  text-align: right;
  font-size: 80%;
}

.posts-list .post-metadata .glyphicon,
.posts-list .posts-thumbnail-item-footer .glyphicon {
  margin-right: 0.1ex;
}

.posts-list .post-metadata .glyphicon-comment,
.posts-list .post-metadata .glyphicon-time,
.posts-list .posts-thumbnail-item-footer .glyphicon-comment {
  margin-left: 0.8ex;
}

.posts-list > nav {
  text-align: center;
}