/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.posts-list .posts-list-item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid @light-gray;
}

.posts-list .posts-list-item .media-object {
  border-radius: 10px;
}

.posts-list .posts-list-item .media-body h3 {
  margin-top: 0;
}

.posts-list .posts-list-item-footer {
  color: @gray;
}

.posts-list .post-metadata {
  text-align: right;
  font-size: 80%;
}

.posts-list .post-metadata .glyphicon {
  margin-right: 0.1ex;
}

.posts-list .post-metadata .glyphicon-comment,
.posts-list .post-metadata .glyphicon-time {
  margin-left: 1ex;
}

.posts-list > nav {
  text-align: center;
}