@use "colors";

/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

.search .search-info {
  background-color: colors.$search-info-bg-color;
  font-size: 17px;
  padding: 15px;
}

.search .search-sidebar {
  padding-top: 15px;
}