@use "colors";

.search .search-info {
  background-color: colors.$search-info-bg-color;
  font-size: var(--font-size-supporting);
  padding: 15px;
}

.search .search-sidebar {
  padding-top: 15px;
}
