@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/*
 * Theme color palette
 */
/*
 * Base colors
 */
/*
 * Page title
 */
/*
 * Top bar colors
 */
/*
 * Post
 */
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/*
 * Home page
 */
/*
 * Archives
 */
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/* Generic font */
/* Chinese font */
@font-face {
  font-family: 'KaiTi';
  src: url('../fonts/KaiTi.ttf') format('truetype');
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
body {
  font-family: "Lato", "Arial", "Kaiti", sans-serif;
  text-align: justify;
  font-size: 160%;
  background-color: #cccccc;
  color: #373737;
}
#page {
  background-color: #ffffff;
  padding: 0;
  box-shadow: 1px 1px 12px #808080;
  padding-top: 50px;
}
h1,
h2,
h3,
h4 {
  font-family: "Lato", "Arial", "Kaiti", sans-serif;
  font-weight: 400;
  text-align: left;
}
/* Chinese text */
.zh {
  font-size: 140%;
  line-height: 70%;
  /* This is to avoid bigger Chinese text having an impact on line spacing */
}
/* Smaller Chinese with big fonts */
h1 .zh {
  font-size: 110%;
}
a:link,
a:visited,
a:active {
  color: #228b22;
}
a:hover {
  color: #1d771d;
}
py,
pyb {
  font-family: "Ubuntu", "arial unicode ms", sans-serif !important;
  font-size: 95%;
  color: #808080;
}
/* Text fields */
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #8b8b8b;
}
input.form-control:focus,
input:focus,
textarea:focus {
  border-color: #228b22;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #228b22;
}
input,
textarea {
  color: #333333;
  border: 1px solid #bebebe;
  border-radius: 3px 3px 3px 3px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #1d771d;
  border-color: #1d771d;
}
.btn-primary {
  background-color: #228b22;
  border-color: #1d771d;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1d771d;
  border-color: #1d771d;
  color: #ffffff;
}
.pagination > li > a,
.pagination > li > span {
  color: #228b22;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #1d771d;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
#top .navbar-brand {
  display: inline-block;
  height: 50px;
  padding: 0;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 140%;
  background: #373737 url("../images/logo/orchid-64.png") no-repeat 10px 50%;
  background-size: 32px 32px;
  padding-left: 46px;
  color: #cccccc;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#top .topbar-container {
  width: 100%;
}
#top .navbar-brand:hover {
  background: #272727 url("../images/logo/orchid-64.png") no-repeat 10px 50%;
  background-size: 32px 32px;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#top .navbar-brand .blogTitle {
  vertical-align: middle;
  line-height: 50px;
  font-size: 130%;
  padding-right: 5px;
}
#top .navbar-brand .blogTagLine {
  padding-right: 10px;
  vertical-align: middle;
  line-height: 50px;
  font-family: "Damion", cursive;
}
#top #searchField {
  margin-right: -6px;
}
#top .container {
  padding: 0;
  background-color: #373737;
}
#top .navbar-toggle {
  color: #cccccc;
  font-size: 32px;
  height: 50px;
  width: 50px;
  border-radius: 0;
  margin: 0;
  padding: 2px 5px;
  line-height: 32px;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#top .navbar-toggle:hover {
  background-color: #272727;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#top .navbar-nav {
  margin: 0;
}
#top .navbar-nav li a {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  color: #cccccc;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#top .navbar-nav li a span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
#top .navbar-form {
  box-shadow: none;
}
#top .navbar-nav li a:hover {
  background-color: #272727;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#top .navbar-collapse {
  border-top: 0;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.middle {
  min-height: 800px;
}
.middle > .container {
  padding: 0;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
#footer {
  padding: 0;
}
#footer .container {
  background-color: #373737;
  padding-bottom: 10px;
}
#footer #poweredBy {
  text-align: center;
  padding: 10px;
  background-color: #272727;
  color: #CCC;
}
#footer .container h3 {
  color: #999;
}
#footer .container p {
  color: #666;
}
#footer .content-license {
  display: inline-block;
  font-style: italic;
}
#footer .content-license a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#footer .content-license a:hover {
  text-decoration: none;
}
#footer .license-cc {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/license/cc-32.png") no-repeat;
  background-size: 16px 16px;
}
#footer .license-cc-by {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/license/by-32.png") no-repeat;
  background-size: 16px 16px;
}
#footer .license-cc-nc {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/license/nc-32.png") no-repeat;
  background-size: 16px 16px;
}
#footer .license-cc-sa {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/license/sa-32.png") no-repeat;
  background-size: 16px 16px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
#home-content {
  padding: 0;
}
#home-content .welcome img {
  border-radius: 10px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.post-title .post-metadata {
  text-align: center;
  margin-bottom: 12px;
}
.post-title a.comment-count {
  display: inline-block;
  position: absolute;
  padding: 5px 8px;
  bottom: 0;
  right: 0;
  outline: none;
  background-color: #373737;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.post-title a.comment-count:hover {
  text-decoration: none;
  background-color: #272727;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.post-title a.comment-count .glyphicon {
  font-size: 12px;
}
.post-title .post-category {
  position: absolute;
  padding: 5px 8px;
  top: 0;
  left: 0;
}
.post-title .post-navigation {
  position: absolute;
  padding: 5px 8px;
  top: 0;
  right: 0;
}
#post-excerpt .container {
  background-color: #cccccc;
  font-size: 18px;
  padding: 20px 30px;
}
#post-excerpt .container p {
  margin: 0;
}
#post-footer {
  background-color: #ffffff;
}
#post-footer h3 {
  margin-top: 10px;
}
#post-footer .post-tags a {
  display: inline-block;
  padding: 5px 8px;
  background-color: #228b22;
  color: white;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#post-footer .post-tags a:not(:first-child) {
  margin-left: 5px;
}
#post-footer .post-tags a:hover {
  text-decoration: none;
  background-color: #1d771d;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#post-footer .post-share a:hover > img {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  transition: all 250ms linear;
}
#post-footer .post-share a:after {
  background-size: 0 0;
  width: 0;
  height: 0;
  content: "";
}
#post-footer .post-share a > img {
  width: 32px;
  height: 32px;
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  transition: all 250ms linear;
}
#pagination-posts {
  background-color: #ffffff;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.archives .date-range-picker {
  background-color: #cccccc;
  padding: 20px 30px;
}
.archives .posts-list {
  padding-left: 15px;
  padding-right: 15px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
#category-summary .subcategories {
  margin-left: 100px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.tags .posts-list {
  padding-left: 15px;
  padding-right: 15px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.file-list {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.page-title {
  background: #228b22 url("../images/title/Title-background.png") no-repeat left bottom;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  min-height: 150px;
}
.page-title a {
  color: #ffffff;
}
.page-title h1 {
  text-align: center;
  margin-top: 10px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.banner a:link,
.banner a:visited,
.banner a:hover,
.banner a:active {
  color: #ffffff;
}
.banner .modal a:link,
.banner .modal a:visited,
.banner .modal a:hover,
.banner .modal a:active {
  color: #228b22;
}
.banner .modal {
  text-align: left;
}
.banner a.carousel-credit {
  text-decoration: none;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
  outline: none;
}
.banner a.carousel-credit:hover {
  opacity: 1;
}
.banner .carousel-caption h3 {
  text-align: center;
  font-size: 30px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}
.banner .carousel-caption h3 .caption-container {
  display: inline-block;
  text-align: left;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
#category-summary {
  background-color: #cccccc;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}
#category-summary .media-object {
  border-radius: 10px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/* Styling of the button that allows the user to go back to the top of the page */
#back-to-top {
  position: fixed;
  left: 50%;
  margin-left: 595px;
  /* Half of the page (585px) + a 10px margin */
  bottom: 10px;
  display: none;
  /*hide the button first*/
  padding: 0;
}
#back-to-top a {
  text-decoration: none;
  outline: none;
  padding: 0;
  display: block;
  width: 64px;
  height: 64px;
  color: white;
  background-color: #373737;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  border-radius: 10px;
}
#back-to-top a:hover {
  background-color: #272727;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#back-to-top span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 64px;
  height: 64px;
  font-size: 30px;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
/* External links (i.e. default) */
.middle a[href^="http"]:after {
  display: inline-block;
  background-image: url("../images/external-link.png");
  background-size: 13px 10px;
  width: 13px;
  height: 10px;
  content: "";
}
/* Internal links */
.middle a[href^="http://voyage-est.com"]:after,
.middle a[href^="http://www.voyage-est.com"]:after,
.middle a[href^="http://localhost"]:after {
  background-size: 0 0;
  width: 0;
  height: 0;
  content: "";
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.posts-list .posts-list-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.posts-list .posts-list-item-footer {
  color: #808080;
}
.posts-list .post-metadata {
  text-align: right;
  font-size: 80%;
}
.posts-list .post-metadata .glyphicon {
  margin-right: 0.1ex;
}
.posts-list .post-metadata .glyphicon-comment,
.posts-list .post-metadata .glyphicon-time {
  margin-left: 1ex;
}
.posts-list > nav {
  text-align: center;
}
.fixed {
  position: fixed;
}
.bs-docs-sidebar.affix {
  position: fixed;
  /* to stop the div from scrolling */
  top: 50px;
}
.bs-docs-sidebar.affix-bottom {
  position: relative;
  /* to stop the div from scrolling */
  bottom: 0;
  /* to fix the div at the top its containing element */
}
/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* all links */
.bs-docs-sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}
/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}
/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: #228b22;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #228b22;
}
/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}
/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
  display: block;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
#tagline {
  background-color: #cccccc;
  padding-bottom: 0;
}
#tagline h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.comments #new-comment-expansion {
  display: none;
  /* Hidden by default, will be expanded with javascript */
}
.comments .comments-feed {
  margin-top: 15px;
}
.comments textarea {
  height: 66px;
  resize: vertical;
}
.comments input,
.comments textarea {
  padding: 0.3em 0.6em;
  width: 100%;
}
.comments input#c_remember {
  width: 18px;
}
.comments .new-comment-buttons {
  text-align: right;
}
.comments #cancelButton {
  margin-right: 5px;
}
.comments label {
  font-weight: 400;
}
.comments .media-top span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent url("../images/comments/comments-placeholder-64.png") no-repeat;
  background-size: 32px 32px;
}
.comments .media-top span.me {
  background: transparent url("../images/comments/comments-me-64.png") no-repeat;
  background-size: 32px 32px;
}
.comments .comment-metadata {
  color: #808080;
  text-align: right;
  font-size: 80%;
}
.comments .comment-metadata .glyphicon {
  margin-right: 0.1ex;
}
.comments .comment-author a:after {
  background-size: 0 0;
  width: 0;
  height: 0;
  content: "";
}
.comments .comment-author h4 {
  margin-top: 5px;
}
.comments .comment-list-header {
  margin-bottom: 10px;
}
.comments .comments-feed {
  text-align: right;
}
.comments .comments-feed a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.comments .comments-feed a:hover {
  text-decoration: none;
}
/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */
.tag0 {
  font-size: 0.7em;
}
.tag10 {
  font-size: 0.8em;
}
.tag20 {
  font-size: 0.9em;
}
.tag30 {
  font-size: 1em;
}
.tag40 {
  font-size: 1.1em;
}
.tag50 {
  font-size: 1.2em;
}
.tag60 {
  font-size: 1.3em;
}
.tag70 {
  font-size: 1.4em;
}
.tag80 {
  font-size: 1.5em;
}
.tag90 {
  font-size: 1.6em;
}
.tag100 {
  font-size: 1.7em;
}
