/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#tagline {
  background-color: @tagline-bg-color;
  padding-bottom: 0;
}

#tagline h2 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}