/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.tags #tag-info {
  background-color: @tag-info-bg-color;
  padding: 15px;
}

.tags .tag-cloud-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tags .tag-cloud-frame {
  border: 1px solid @light-gray;
  background-color: @very-light-gray;
  padding: 10px;
  border-radius: 2px;
}