@use "colors";

/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

.tags #tag-info {
  background-color: colors.$tag-info-bg-color;
  padding: 15px;
}

.tags .tag-cloud-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tags .tag-cloud-frame {
  border: 1px solid colors.$tag-info-bg-color;
  background-color: colors.$tag-info-bg-color;
  padding: 10px;
  border-radius: 2px;
}