/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

// Description: colors attached to the main items of the theme, based on the colors defined in colors.less

/*
 * Home page
 */

@banner-link-color: @white;
@tagline-bg-color: @light-gray;
@category-summary-bg-color: @light-gray;

/*
 * Archives
 */

@date-range-picker-bg-color: @light-gray;

/*
 * Theme download page
 */
 
 @download-pitch-bg-color: @light-gray;
 @footnote-text-color: @gray;
 
 /*
  * Tags page
  */
@tag-info-bg-color: @light-gray;