/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

.download #download-pitch.container {
  background-color: $download-pitch-bg-color;
  font-size: 17px;
  padding: 15px;
}

.download .footnote {
  padding-top: 15px;
  color: $footnote-text-color;
}

// On tablet, display versions on 2 columns
@media (min-width: 768px) {
  .download .file-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

// On desktop, display versions on 3 columns
@media (min-width: 992px) {
  .download .file-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}