.download #download-pitch.container {
  background-color: var(--color-surface-soft);
  font-size: var(--font-size-supporting);
  padding: 15px;
}

// On tablet, display versions on 2 columns
@media (min-width: 768px) {
  .download .file-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

// On desktop, display versions on 3 columns
@media (min-width: 992px) {
  .download .file-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}
