@use "colors";

/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: https://www.voyage-est.com
 * License: GNU/GPL
 */

@use "sass:color";

// Description: colors attached to the main items of the theme, based on the colors defined in colors.less



/*
 * Base colors
 */

$default-background-color: colors.$white;
$page-background-color: colors.$white;
$page-shadow: colors.$gray;
$pinyin-text-color: colors.$gray;

/*
 * Home page
 */

$banner-link-color: colors.$white;
$banner-modal-link-color: colors.$tint-color;
$tagline-bg-color: colors.$light-gray;
$category-summary-bg-color: colors.$light-gray;

/*
 * Page title
 */

$page-title-bg-color: colors.$tint-color;
$page-title-text-color: colors.$white;
$page-title-link-color: colors.$white;

/*
 * Top bar colors
 */

$top-bar-text-color: colors.$light-gray;
$top-bar-background-color-hover: colors.$very-strong-gray;
$top-bar-background-color: colors.$strong-gray;

/*
 * Back to top
 */
 
$back-to-top-bg-color: colors.$strong-gray;
$back-to-top-hover-color: colors.$very-strong-gray;

/*
 * Search
 */

$search-info-bg-color: colors.$light-gray;

/*
 * Post
 */

$post-excerpt-bg-color: colors.$light-gray;
$post-pagination-bg-color: colors.$white;

/*
 * Footer
 */
 
$footer-background-color: colors.$strong-gray;

/*
 * Archives
 */

$date-range-picker-bg-color: colors.$light-gray;

/*
 * Theme download page
 */
 
 $download-pitch-bg-color: colors.$light-gray;
 $footnote-text-color: colors.$gray;
 
 /*
  * Tags page
  */
  
$tag-info-bg-color: colors.$light-gray;

/*
 * Miniplayer
 */
 
 $player-hover-color: colors.$tint-color;
 
/*
 * Exercice
 */
 
$exercice-number-bg-color: colors.$tint-color;
$exercice-answer-color: colors.$tint-color;
$exercice-answer-bg-color: colors.$very-light-green;
$exercice-answer-toggle-color: colors.$tint-color;
$exercice-answer-toggle-hover-color: color.adjust(colors.$tint-color, $lightness: -5%);