/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

#top .navbar-brand {
  display: inline-block;
  height: @top-bar-height;
  padding: 0;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 140%;
  background: @top-bar-background-color url("@{images-folder-path}/logo/orchid-64.png") no-repeat 10px 50%;
  background-size: 32px 32px;
  padding-left: 46px;
  color: @top-bar-text-color;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

#top .topbar-container {
  width: 100%;
}

#top .navbar-brand:hover {
  background: @top-bar-background-color-hover url("@{images-folder-path}/logo/orchid-64.png") no-repeat 10px 50%;
  background-size: 32px 32px;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

#top .navbar-brand .blogTitle {
  vertical-align:middle;
  line-height: @top-bar-height;
  font-size: 130%;
  padding-right: 5px;
}

#top .navbar-brand .blogTagLine {
  padding-right: 10px;
  vertical-align:middle;
  line-height: @top-bar-height;
  font-family: @title-font, cursive;
}

#top #searchField {
  margin-right: -6px;
}

#top .container {
  padding: 0;
  background-color: @top-bar-background-color;
}

#top .navbar-toggle {
  color: @top-bar-text-color;
  font-size: 32px;
  height: @top-bar-height;
  width: @top-bar-height; // Square
  border-radius: 0;
  margin: 0;
  padding: 2px 5px;
  line-height: 32px;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

#top .navbar-toggle:hover {
  background-color: @top-bar-background-color-hover;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

#top .navbar-nav {
    margin: 0;
}

#top .navbar li {
 // display: table-cell;
}

#top .navbar-nav li a {
  padding-top: 0;
  padding-bottom: 0;
  height: @top-bar-height;
 // vertical-align: middle;
 // line-height: @top-bar-height;
  color: @top-bar-text-color;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

#top .navbar-nav li a span {
  display: inline-block;
  height: @top-bar-height;
  line-height: @top-bar-height;
}

#top .navbar-form {
  box-shadow: none;
}

#top .navbar-nav li a:hover {
  background-color: @top-bar-background-color-hover;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

#top .navbar-collapse {
  border-top: 0;
}

// Do not display the top bar when printing
@media print
{
  #top {
    display: none;
  }
}