/*
 * "China" theme for Dotclear
 * --------------------------
 * Author: Thomas PENIN
 * Website: http://www.voyage-est.com
 * License: GNU/GPL
 */

.top .navbar-brand {
  display: inline-block;
  height: @top-bar-height;
  padding: 0 20px;
  font-size: 140%;
  background: #373737 url("@{images-folder-path}/logo/orchid-64.png") no-repeat 10px 50%;
  background-size: 32px 32px;
  padding-left: 46px;
  color: #CCC;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.top .topbar-container {
  width: 100%;
  background-color: @top-bar-color;
}

.top .navbar-brand:hover {
  background: @top-bar-color-hover url("@{images-folder-path}/logo/orchid-64.png") no-repeat 10px 50%;
  background-size: 32px 32px;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.top .navbar-brand .blogTitle {
  vertical-align:middle;
  line-height: @top-bar-height;
  font-size: 130%;
  padding-right: 5px;
}

.top .navbar-brand .blogTagLine {
  vertical-align:middle;
  line-height: @top-bar-height;
  font-family: @title-font, cursive;
}


.top .navbar-form {
  padding-right: 15px; /* The search field is directly sticked to the right of the page */
}


.top .container {
    padding: 0;
}

.top .navbar-toggle {
  color: #32CD32;
  font-size: 32px;
  margin: 3px;
  padding: 2px 5px;
  line-height: 32px;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.top .navbar-toggle:hover {
  background-color: @top-bar-color-hover;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.top .navbar-nav {
    margin: 0;
}

.top .navbar-nav li a {
  color: #CCC;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.top .navbar-nav li a:hover {
  background-color: @top-bar-color-hover;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}